<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>344658946338-513bh8k4365s44e8kqvmkbg9c6rolf7q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.344658946338-513bh8k4365s44e8kqvmkbg9c6rolf7q</string>
	<key>API_KEY</key>
	<string>AIzaSyDIcrFfeg6k0xQEFPp6VA0AE9FDh8g79PI</string>
	<key>GCM_SENDER_ID</key>
	<string>344658946338</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appolonia-dental.Dental-Care</string>
	<key>PROJECT_ID</key>
	<string>fir-6d0d4</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-6d0d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:344658946338:ios:d0bd52d807ebd54316dd7b</string>
</dict>
</plist>